@model IEnumerable<SchoolAPI.Models.Student>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Students List</h2>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-success"><i class="fas fa-plus"></i>&nbsp; @Html.ActionLink("Register New Student", "Create")</button>
    </div>
</div>
<br />
<div class="p-4 border rounded">
    <table id="tblData" class="table table-stripped table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>First Name</th>
                <th>LastName</th>
                <th>Address</th>
                <th>Class</th>
                <th>Academic Year</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script src="~/js/user.js"></script>
}

